<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SSH_Host" value="ip-goes-here" />
		<add key="SSH_Naam" value="student" />
		<add key="SSH_Wachtwoord" value="password-goes-here" />
		<add key="Database_Host" value="127.0.0.1" />
		<add key="Database_Poort" value="1433" />
		<add key="Database_Gebruiker" value="sa" />
		<add key="Database_Wachtwoord" value="password-goes-here" />
		<add key="Database_Naam" value="WDS" />
		<add key="Icon_Width" value="18,7" />
		<add key="Icon_Height" value="30" />
		<add key="Timer_Interval" value="1000" />
		<add key="Unit_Test" value="Unit test is working" />
		<add key="Web_Sock_Url" value="ws://url-goes-here:6969/Parser" /><!-- Use the IP adress of the hosting computer here-->
		<add key="Time_To_Reconnect" value="10" /><!-- Try to reconnect every 10 seconds-->
		<add key="Time_To_Suspect_Disconnection" value="4" />
		<add key="Heat_Map_Ratio" value="0.002"/>
		<add key="Zoom_Value" value="14"/>
		<add key="Max_Location_History" value="50"/>
		<!--Twitter API data-->
		<add key="ConsumerKey" value="consumer-key-here"/>
		<add key="ConsumerSecret" value="consumer-secret-here"/>
		<add key="AccessToken" value="access-token-here"/>
		<add key="AccessTokenSecret" value="access-token-secret-here"/>
		<add key="Regular_Text_Font_Size" value="16"/>
	</appSettings>
</configuration>